:root {
  --card-width: 157px;
  --card-height: 220px;
  --num-cards: 4;
  --card-horizontal-space: 100px;
  --badge-bg-color: #a9a9a9;
  --primary-color: #000;
  --secondary-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fffffa;
}

main {
  height: calc(var(--num-cards) * var(--card-height) / 2 + 10px);
  display: flex;
  justify-content: center;
}
main .card-container {
  position: relative;
  height: 100%;
  width: calc(var(--card-width) * var(--num-cards) / 2 + var(--card-horizontal-space));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "c d";
}
main .card-container .card-pos-a {
  grid-area: a;
}
main .card-container .card-pos-b {
  grid-area: b;
}
main .card-container .card-pos-c {
  grid-area: c;
}
main .card-container .card-pos-d {
  grid-area: d;
}
main .card-container .card-pos-a,
main .card-container .card-pos-b,
main .card-container .card-pos-c,
main .card-container .card-pos-d {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .card-container .card {
  position: absolute;
  height: var(--card-height);
  width: var(--card-width);
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}
main .card-container .card:hover .card-inside {
  transform: rotate3d(0, 1, 0, 180deg);
}
main .card-container .card .card-inside {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.6s;
  transform-style: preserve-3d;
}
main .card-container .card .card-inside.flip-it {
  transform: rotateY(180deg);
}
main .card-container .card .card-inside .front-side,
main .card-container .card .card-inside .back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
main .card-container .card .card-inside .front-side .card-img,
main .card-container .card .card-inside .back-side .card-img {
  height: 100%;
}
main .card-container .card .card-inside .back-side {
  transform: rotateY(180deg);
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

.header-round-info-container {
  display: flex;
  justify-content: space-evenly;
}

.header-img-container,
.header-score-container,
.header-round-container {
  width: 150px;
}

.game-status-container,
.action-btn,
.header-img-container,
.header-score-container,
.header-round-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  height: 75px;
  border-radius: 5px;
  border: 3px solid #000;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  rotate: -3deg;
}

.badge {
  background-color: var(--badge-bg-color);
  color: var(--secondary-color);
  padding: 2px 10px 3px;
  border-radius: 15px;
}

.start-game {
  scale: 0;
  opacity: 0;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  -webkit-text-decoration: none #6b7280 solid;
          text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke, scale, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.start-game:hover {
  background-color: #374151;
}

.start-game:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.start-game:disabled {
  pointer-events: none;
  background-color: #a9a9a9;
}

@media (min-width: 768px) {
  .start-game {
    padding: 0.75rem 1.5rem;
  }
}
.current-status {
  font-size: 1.5rem;
  text-align: center;
}

.card.shuffle-left {
  transform: translateX(300px) translateY(40px);
}

.card.shuffle-right {
  transform: translateX(-350px) translateY(-40px);
}

.card.fly-in {
  transform: translateY(-1000px) translateX(-600px) rotate(45deg);
}

@media screen and (width <= 600px) {
  :root {
    --card-width: 120px;
    --card-height: 168px;
    --card-horizontal-space: 50px;
  }
  .header-score-container h2,
  .header-round-container h2 {
    font-size: 1rem;
  }
  .header-score-container h2 span,
  .header-round-container h2 span {
    width: 20px;
  }
  .card-container {
    width: calc(var(--card-width) * var(--num-cards) / 2 + var(--card-horizontal-space));
  }
  main {
    height: 50%;
  }
  .current-status {
    font-size: 1.2rem;
  }
  .header-img {
    height: 55px;
  }
}/*# sourceMappingURL=style.css.map */